---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>JavaScript Librairies | Net Hélium</title>
	</head>
	<body>
		<h1>Hélium Connect Forms</h1>
		<hc-form
			url="https://helium-connect.fr/player/5b759aaa441eec5fb400002d/fid/66c5dcaab1ff63b9351bd3dc">
		</hc-form>
	</body>
</html>

<script>
	import "@net-helium/hc-forms";
</script>
