# System files
.DS_Store

# Logs
logs
*.log
.pnpm-debug.log*

# Dependencies
node_modules

# Builds
dist

# Turborepo
.turbo

# TypeScript
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Generated menu config file in the dev app
app/config/menu.json
