/**
 * Light and dark mode tokens
 */
:root {
  /**
  * Font family tokens
  */
  --nh-font-mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  --nh-font-serif: Georgia, 'Times New Roman', serif;
  --nh-font-sans:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';

  /**
  * Font size tokens
  */
  --nh-font-size-2xs: 0.625rem;
  /* 10px */
  --nh-font-size-xs: 0.75rem;
  /* 12px */
  --nh-font-size-sm: 0.875rem;
  /* 14px */
  --nh-font-size-md: 1rem;
  /* 16px */
  --nh-font-size-lg: 1.25rem;
  /* 20px */
  --nh-font-size-xl: 1.5rem;
  /* 24px */
  --nh-font-size-2xl: 1.75rem;
  /* 28px */
  --nh-font-size-3xl: 2.25rem;
  /* 36px */
  --nh-font-size-4xl: 3rem;
  /* 48px */
  --nh-font-size-5xl: 4.5rem;
  /* 72px */

  /**
  * Spacing tokens
  */
  --nh-spacing-3xs: 0.125rem;
  /* 2px */
  --nh-spacing-2xs: 0.25rem;
  /* 4px */
  --nh-spacing-xs: 0.5rem;
  /* 8px */
  --nh-spacing-sm: 0.75rem;
  /* 12px */
  --nh-spacing-md: 1rem;
  /* 16px */
  --nh-spacing-lg: 1.25rem;
  /* 20px */
  --nh-spacing-xl: 1.5rem;
  /* 24px */
  --nh-spacing-2xl: 1.75rem;
  /* 28px */
  --nh-spacing-3xl: 2.25rem;
  /* 36px */
  --nh-spacing-4xl: 3rem;
  /* 48px */
  --nh-spacing-5xl: 4.5rem;
  /* 72px */

  /**
  * Transition tokens
  */
  --nh-transition-slowest: 1000ms;
  --nh-transition-slower: 750ms;
  --nh-transition-slow: 500ms;
  --nh-transition-normal: 250ms;
  --nh-transition-fast: 150ms;
  --nh-transition-faster: 100ms;
  --nh-transition-fastest: 50ms;

  /**
   * Prevent font size inflation
   */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/**
 * Light mode tokens (default mode applied)
 */
:root,
:root.light-theme {
  /**
  * Tell the browser light mode is expected
  */
  color-scheme: light;

  /**
  * Primary color tokens
  */
  --nh-color-primary-50: #ecfdf5;
  --nh-color-primary-100: #d1fae5;
  --nh-color-primary-200: #a7f3d0;
  --nh-color-primary-300: #6ee7b7;
  --nh-color-primary-400: #34d399;
  --nh-color-primary-500: #10b981;
  --nh-color-primary-600: #059669;
  --nh-color-primary-700: #047857;
  --nh-color-primary-800: #065f46;
  --nh-color-primary-900: #064e3b;
  --nh-color-primary-950: #022c22;

  /**
  * Neutral color tokens
  */
  --nh-color-neutral-0: #ffffff;
  --nh-color-neutral-50: #fafafa;
  --nh-color-neutral-100: #f5f5f5;
  --nh-color-neutral-200: #e5e5e5;
  --nh-color-neutral-300: #d4d4d4;
  --nh-color-neutral-400: #a3a3a3;
  --nh-color-neutral-500: #737373;
  --nh-color-neutral-600: #525252;
  --nh-color-neutral-700: #404040;
  --nh-color-neutral-800: #262626;
  --nh-color-neutral-900: #171717;
  --nh-color-neutral-950: #0a0a0a;
  --nh-color-neutral-1000: #000000;
}

/**
 * Dark mode tokens
 */
:root.dark-theme {
  /**
  * Tell the browser dark mode is expected
  */
  color-scheme: dark;

  /**
  * Primary color tokens
  */
  --nh-color-primary-50: #022c22;
  --nh-color-primary-100: #064e3b;
  --nh-color-primary-200: #065f46;
  --nh-color-primary-300: #047857;
  --nh-color-primary-400: #059669;
  --nh-color-primary-500: #10b981;
  --nh-color-primary-600: #34d399;
  --nh-color-primary-700: #6ee7b7;
  --nh-color-primary-800: #a7f3d0;
  --nh-color-primary-900: #d1fae5;
  --nh-color-primary-950: #ecfdf5;

  /**
  * Neutral color tokens
  */
  --nh-color-neutral-0: #000000;
  --nh-color-neutral-50: #0a0a0a;
  --nh-color-neutral-100: #171717;
  --nh-color-neutral-200: #262626;
  --nh-color-neutral-300: #404040;
  --nh-color-neutral-400: #525252;
  --nh-color-neutral-500: #737373;
  --nh-color-neutral-600: #a3a3a3;
  --nh-color-neutral-700: #d4d4d4;
  --nh-color-neutral-800: #e5e5e5;
  --nh-color-neutral-900: #f5f5f5;
  --nh-color-neutral-950: #fafafa;
  --nh-color-neutral-1000: #ffffff;
}

/**
 * Global
 */

:root,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

:root,
body {
  height: 100%;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: var(--nh-color-neutral-50);
}

.dark-theme body {
  background-color: var(--nh-color-neutral-200);
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container>main {
  max-width: 1000px;
  width: calc(100% - var(--nh-spacing-md) * 2);
  margin: 0 auto;
  padding: var(--nh-spacing-md);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container>main>.page-container {
  width: 100%;
}

/**
 * Header
 */

#container>header {
  border-bottom: 1px solid var(--nh-color-neutral-1000);
}
#container>header .content,
#container>header .content>div {
  display: flex;
}
#container>header .content {
  padding: var(--nh-spacing-xs);
  justify-content: space-between;
  align-items: center;
}
#container>header .left a,
#container>header .right a,
#container>header .right button {
  text-decoration: none;
  color: var(--nh-color-neutral-1000);
  transition: color var(--nh-transition-fast) ease-in-out;
}
#container>header .left a {
  font-size: var(--nh-font-size-lg);
}
#container>header .right button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
#container>header .right ul li {
  display: inline-block;
  vertical-align: middle;
  margin-left: var(--nh-spacing-2xs);
}
#container>header .left a:hover,
#container>header .right a:hover,
#container>header .right button:hover {
  color: var(--nh-color-primary-600);
}
#container>header .right nh-icon {
  --size: var(--nh-font-size-2xl);
}

/**
 * Footer
 */

#container>footer {
  border-top: 1px solid var(--nh-color-neutral-1000);
}

#container>footer .content {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--nh-spacing-md);
}

#container>footer .content p {
  margin: var(--nh-spacing-xs) 0;
}