<header>
  <div class="content">
    <div class="left">
      <a href="/">JavaScript libraries</a>
    </div>

    <div class="right">
      <ul>
        <li>
          <button id="theme-switch">
            <nh-icon name="light-mode"></nh-icon>
          </button>
        </li>
        <li>
          <a
            href="https://github.com/NetHelium/js-libs"
            target="_blank"
            title="GitHub repository">
            <nh-icon name="github"></nh-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>